.subbox {
    padding:5px;
    margin-bottom:3px;
    border-radius:15px;
    border: 1.5px solid gray;
  }
  .centered {
    margin: 0 auto;
    width:50%;
    height:98vh;
    text-align:center;
  }
  .subbox:focus {
    outline-width:0;
  }
  a {
    color:blue;
  }