
<div class="centered">
    <input id="username" type="text" name="usr" placeholder="Username..." class="subbox" style="margin-top:10px" required><br>
    <input id="password" type="password" name="psw" placeholder="Password..." class="subbox" required><br>
    <button id="submit" (click)="onLoginClick()" style="border:1.5px sold gray; background:#bbffbb; border-radius:15px; padding:5px; width:150px;">Log In</button>
  <p style="font-size:80%">Don't have an account? <a id="signup" style="font-size:110%" href="/signup">Sign Up!</a></p>
</div>
