

  <div style="margin-top:-38px;margin-left:-8px; margin-right:-8px; margin-bottom:10px; padding:15px; background-color:#709585; border-radius:30px;">
		<div style="margin-top:30px; height:110px; margin-bottom:0px; padding:10px; border:3px solid #f0ffff; border-radius:30px">
			<div style="height:105px;margin-bottom:0px; font-size:150%; padding:0px; padding-bottom:-10px; border:2px dotted #f0ffff; border-radius:20px; text-align:center;">
        <img class="unselectable" src="/assets/cow.png" height="150%" style="margin-top:-45px;">
			</div>
		</div>
	</div>
	<app-navbar></app-navbar>
  <div style="align-content:center;">
    <div class="notificationbox">
      <p class="notificationtitle">Notification</p>
    </div>
  </div>
<!--
  <div style="margin-top:5px;text-align:center; border-top:4px dotted #757575;">
    <p style="color:#707070;font-size:130%;"><b>Welp! It looks like there's nothing here...</b></p>
    <p style="margin-top:-12px; color:#707070;font-size:130%;"><b>Why don't you add something?</b></p>
    <img class="unselectable" src="/img/wumpuslonely.png" height="300px" style="max-width:99%; user-select: none; -moz-user-select: none; -webkit-user-drag: none; -webkit-user-select: none; -ms-user-select: none;">
  </div>
--> 
